[submodule "public/assets/potree"]
	path = public/assets/potree
	url = git@github.com:naokazuterada/potree.git
[submodule "app/assets/style/general"]
	path = app/assets/style/general
	url = git@github.com:naokazuterada/general.git
	branch = css
