
@keyframes markerAnim
  0%
    opacity: 1
  100%
    opacity: 0.8

.annotation
  transform: translate(-50%, 0)
  opacity: 1 !important
  .annotation-titlebar
    display: none
    border: 0
    border-radius: 4px
    padding: 0 12px 0 20px
    box-shadow: none !important
    .annotation-label
      color: #696969
      font-size: 12px
      line-height: 2.2
  .annotation-marker
    cursor: pointer
  .annotation-prev,
  .annotation-next
    display: none
    cursor: pointer
    color: white
    background-color: black
    padding: 0 10px
    min-width: 60px
  .annotation-prev
    float: left
  .annotation-next
    float: right
    text-align: right
  &.highlighted
    .annotation-marker
      > div
        animation: markerAnim 0.4s infinite
        animation-direction: alternate
    .annotation-label
      color: white
  &[data-camera-dist=middle]
    .annotation-marker
      $size: 10px
      content: ''
      display: block
      position: absolute
      width: #{$size}
      height: #{$size}
      top: #{$size / -2}
      left: calc(50% - #{$size / 2})
      box-shadow: 0 0 3px #000000
      border-radius: 100px
      border: 1px solid white
      background-color: $color_annotation_default
      transition: width .5s, height .5s
      > div
        display: none
    &[data-category='Viewpoints/Photos']
      .annotation-marker
        background-color: $color_photos
    &[data-category='Viewpoints/Movies']
      .annotation-marker
        background-color: $color_movies
    &[data-category='Elements/Stones']
      .annotation-marker
        background-color: $color_stones
    &[data-category='Elements/Plants']
      .annotation-marker
        background-color: $color_plants
    &[data-category='Elements/Creatures']
      .annotation-marker
        background-color: $color_creatures
    &[data-category='Elements/Artifacts']
      .annotation-marker
        background-color: $color_artifacts
    &[data-category='Elements/DNA Data']
      .annotation-marker
        background-color: $color_dna
  // カメラが少し近づいた時
  &[data-camera-dist=near]
      .annotation-titlebar
        display: block
        position: absolute
        left: 50px
        top: -13px
      .annotation-marker
        $size: 80px
        $borderWidth: 6px
        content: ''
        display: block
        position: absolute
        width: #{$size}
        height: #{$size}
        top: #{$size / -2 - $borderWidth}
        left: calc(50% - #{$size / 2})
        background-color: black
        border-radius: $size
        border: $borderWidth solid $color_annotation_default
        overflow: hidden
        > div
          display: block
          width: 100%
          height: 100%
          background-size: cover
          background-position: center
          opacity: 0.8
          transition: opacity 0.2s
        &:hover
          > div
            opacity: 1 !important
      &[data-category='Viewpoints/Photos']
        .annotation-marker
          border-color: $color_photos
      &[data-category='Viewpoints/Movies']
        .annotation-marker
          border-color: $color_movies
      &[data-category='Elements/Stones']
        .annotation-marker
          border-color: $color_stones
      &[data-category='Elements/Plants']
        .annotation-marker
          border-color: $color_plants
      &[data-category='Elements/Creatures']
        .annotation-marker
          border-color: $color_creatures
      &[data-category='Elements/Artifacts']
        .annotation-marker
          border-color: $color_artifacts
      &[data-category='Elements/DNA Data']
        .annotation-marker
          border-color: $color_dna
  &[data-type="icon"]
    &[data-camera-dist=middle]
      .annotation-marker
        $size: 32px
        $borderWidth: 2px
        width: #{$size}
        height: #{$size}
        top: #{$size / -2 - $borderWidth}
        left: calc(50% - #{$size / 2})
        border-width: $borderWidth
      .annotation-titlebar
        left: 18px