@import const
// ヘッダー部分などDrawerで共通の部分
.content
  color: white
  padding: 0 0 30px 0
  // width: calc(100% - 30px)
  // min-height: calc(100% - 30px)
header
  display: flex
  align-items: center
  padding: 25px 25px 28px 0
  +sp
    padding: 20px 20px 20px 0
  > h1,
  > h2
    --border-color: #255553
    &[data-name='Still Images']
      --border-color: #{$color_stillImages}
    &[data-name='Movies']
      --border-color: #{$color_movies}
    &[data-name='Stones']
      --border-color: #{$color_stones}
    &[data-name='Plants']
      --border-color: #{$color_plants}
    &[data-name='Creatures']
      --border-color: #{$color_creatures}
    &[data-name='Artifacts']
      --border-color: #{$color_artifacts}
    &[data-name='DNA Data']
      --border-color: #{$color_dnaData}
    &[data-name='Oral Archives']
      --border-color: #{$color_oralArchives}
    &[data-name='Guided Tour']
      --border-color: #{$color_guidedTour}
    &[data-name='Ramble Tour']
      --border-color: #{$color_rambleTour}
    &[data-name='Group']
      --border-color: #747474
    margin: 0
    margin-right: auto
    border-left: 5px solid var(--border-color)
    padding: 6px 0 7px 19px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    flex: 1
    min-width: 0
    font-family: 'K2-v1-Bold'
    font-size: 18px
    +sp
      padding-left: 15px
  .filter
    display: flex
    align-items: center
    margin-left: 5px
    label
      font-size: 12px
      color: #898989
      margin-right: 1em
  a
    @extend %button
    font-size: 12px
    height: 34px

article
  padding: 0 25px
  +sp
    padding: 0 20px
  h1
    margin: 30px auto 30px 0
    text-overflow: ellipsis
    white-space: nowrap
    @extend %font_bolder
    font-size: 21px
    overflow: hidden
    color: white
  h5
    font-family: 'K2-v1-Regular'
    font-size: 14px
    color: #8B8B8B
    margin-top: 34px
    margin-bottom: 17px
  p + p
    margin-top: 1em
  .image
    width: 100%
    height: auto