// @import general/reset-2
@import general/const
@import general/kerning
@import general/fixes
@import const

body
  margin: 0
  background-color: #344842
  background: linear-gradient(to bottom, #344842, #0A0C10, #453143, #344842)
  min-height: 100vh
  @extend %font_tsukuantique_l
  font-feature-settings: 'halt'
  font-size: 16px
  letter-spacing: 0.05em
  color: white

a[href]
  color: inherit
  text-decoration: none

.en
  font-family: 'K2-v1-Light', $helvetica

*:not(.mv):not(.visual)[data-fuwa]
  opacity: 0
  color: rgba(255,255,255,0)
  text-shadow: 0px 0px 40px rgba(255, 255, 255, 0.5)
  transition: text-shadow 1.5s, opacity 1.5s !important
*:not(.mv):not(.visual)[data-fuwa=visible]
  opacity: 1
  color: rgba(255,255,255,1)
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5)
  transition: text-shadow 1.5s, opacity 1.5s !important

.mv[data-fuwa],
.visual[data-fuwa]
  opacity: 0
  transition: opacity 2s !important
.mv[data-fuwa=visible],
.visual[data-fuwa=visible]
  opacity: 1
  transition: opacity 2s !important
