// @import general/reset-2
@import general/const
@import const
@import annotation

body
  margin: 0
  color: black
  font-family: 'K2-v1-Reular', $helvetica, $yugothic
  font-size: 16px
  line-height: 1.5
  letter-spacing: 0.05em

a[href]
  color: inherit
  text-decoration: none

#potree_quick_buttons
  top: 82px
