// @import general/reset-2
@import general/const
@import const
@import annotation

body
  margin: 0
  color: black
  font-family: 'K2-v1-Reular', $helvetica, $yugothic
  font-size: 16px
  line-height: 1.5
  letter-spacing: 0.05em

  --button-bg-color: #242424
  --textbox-bg-color: #151515


  // デザイン的に .splitpanes__splitter 内に入れるしかなかったので、bodyの属性で切り替える
  --drawer-header-color: transparent
  &[data-drawer-header-color='Photos']
    --drawer-header-color: #{$color_photos}
  &[data-drawer-header-color='Movies']
    --drawer-header-color: #{$color_movies}
  &[data-drawer-header-color='Stones']
    --drawer-header-color: #{$color_stones}
  &[data-drawer-header-color='Plants']
    --drawer-header-color: #{$color_plants}
  &[data-drawer-header-color='Creatures']
    --drawer-header-color: #{$color_creatures}
  &[data-drawer-header-color='Artifacts']
    --drawer-header-color: #{$color_artifacts}
  &[data-drawer-header-color='DNA Data']
    --drawer-header-color: #{$color_dnaData}
  &[data-drawer-header-color='Oral Archives']
    --drawer-header-color: #{$color_oral}


a[href]
  color: inherit
  text-decoration: none

#potree_quick_buttons
  top: 82px

// 一時的に消す
// #potree_quick_buttons,
// #sidebar_root
//   display: none